<nav class="navbar">
  <div class="container">
    <a class="brand" href="/home">Blogify<span>.</span></a>
    <ul class="nav-links">
      <li><a href="/home"><i class="fa-solid fa-house-chimney"></i> Home</a></li>
      <% if(locals.user){ %>
      <li><a href="/addBlog"><i class="fa-solid fa-pen-nib"></i> Write</a></li>
      <% } %>
    </ul>
    <div class="nav-actions">
      <% if(locals.user){ %>
      <div class="user-chip">
        <div class="user-avatar"><%= locals.user.username.charAt(0).toUpperCase() %></div>
        <%= locals.user.username %>
      </div>
      <a class="btn btn-danger-outline" href="/user/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
      <% } else { %>
      <a class="btn btn-ghost" href="/user/signin">Sign In</a>
      <a class="btn btn-primary" href="/user/signup">Get Started</a>
      <% } %>
    </div>
  </div>
</nav>
